 
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui;
}

nav {
  padding: 10px;
  margin-bottom: 10px;
  background: rgba(49, 26, 138, 0.288);
  display: flex;
  text-align: center;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #eee;
}